<div class="page">
  <section class="page__header">
    <h1 class="page__title">Worker Summary</h1>
  </section>
  <section class="page__content content">
    <div class="content__top-actions">
      <div class="content__top-actions-l">
        <button-custom
          title="Advanced Search"
          theme="transparent"
        ></button-custom>
      </div>
      <div class="content__top-actions-r">
        <custom-dd
          [options]="states"
          (valueChecked)="filterUsersByActivity($event)"
          theme="blue"
        ></custom-dd>
        <button-custom title="Import Worker" theme="blue"></button-custom>
        <button-custom title="+ Add Worker" theme="dark"></button-custom>
      </div>
    </div>
    <users-table></users-table>
  </section>
</div>
